{% extends 'base.twig' %}

{% block content1 %}
<div style="margin: 60px">
<form method="post" action="{{ app.request.basepath }}/index.php/add_question">
	<p>Question:</p>
	<p><input style=" width: 100%" type="text" name="question" required></p>
	<p>Answer 1:</p>
	<p><input style=" width: 100%" type="text" name="answer1" required></p>
	<p>Answer 2:</p>
	<p><input style=" width: 100%" type="text" name="answer2" required></p>
	<p>Answer 3:</p>
	<p><input style=" width: 100%" type="text" name="answer3" required></p>
	<p>Answer 4:</p>
	<p><input style=" width: 100%" type="text" name="answer4" required></p>
	<p>Select correct answer:</p>
	<input type="radio" name="correct_answer" value="1" checked>1
	<input type="radio" name="correct_answer" value="2">2
	<input type="radio" name="correct_answer" value="3">3
	<input type="radio" name="correct_answer" value="4">4
	<button class="btn btn-danger"> Submit </button>
</form>
</div>
{% endblock %}
