{% extends 'base.twig' %}

{% block content1 %}
<div>
	<div class="container">

		<h3> Select game mode</h3>
		<form method="POST" action="{{ app.request.basepath }}/index.php/new_game">
		<button class="btn btn-danger btn-lg" name="difficulty" value="normal">Normal </button>
		<button class="btn btn-danger btn-lg" name="difficulty" value="hardcore">Hardcore</button>
		</form>
	</div>
	<div class="col-md-12">
		<p> * Hardcore: Correct answers grant you double score but wrong ones will decrease it.</p>
	</div>
</div>
{% endblock %}