{% extends 'base.twig' %}

{% block content1 %}
<div style="margin: 60px">
<form method="post" action="{{ app.request.basepath }}/index.php/login">
	<p>Username:</p>
	<p><input type="text" name="username" required></p>
	<p>Password:</p>
	<p><input type="password" name="password" required></p>
	<button class="btn btn-danger" name="login"> Submit </button> or <a class="btn btn-danger" href="{{ app.request.basepath }}/index.php/register"> Register </a>
</form>
</div>
{% endblock %}

{% block content2 %}
	{% if first %}
	<div class="col-md-12 col-centered"><h3>TOP SCORES</h3></div>
		<div class="col-md-4">
			<h3> Top 1 </h3>
			<p class="scores">Player Name: {{first.player}}</p>
			<p class="scores">Score: {{first.finalScore}} points</p>
			<p class="scores">Time: {{first.time}} s.</p>
		</div>
		<div class="col-md-4">
			<h3> Top 2 </h3>
			<p class="scores">Player Name: {{second.player}}</p>
			<p class="scores">Score: {{second.finalScore}} points</p>
			<p class="scores">Time: {{second.time}} s.</p>
		</div>
		<div class="col-md-4">
			<h3> Top 3 </h3>
			<p class="scores">Player Name: {{third.player}}</p>
			<p class="scores">Score: {{third.finalScore}} points</p>
			<p class="scores">Time: {{third.time}} s.</p>
		</div>
	{% endif %}
		

{% endblock %}
