{% extends 'base.twig' %}

{% block content1 %}
<div style="margin: 60px">
<form method="GET" action="{{ app.request.basepath }}/index.php/play">
	 <div class="radio">
	  {% for key, value in answers %}
	      <label>
	        <input type="radio" name="player_answer" value="{{key}}" required>{{ value }}
	      </label><br><br>
      {% endfor %}
      <br><button class="btn btn-danger">Submit Answer</button>
     </div>
</form>
</div>
{% endblock %}