{% extends 'base.twig' %}

{% block content1 %}
<div style="margin: 60px">
<form method="POST" action="{{ app.request.basepath }}/index.php/registration">
	<p>Username:</p>
	<p><input type="text" name="username" required></p>
	<p>Password:</p>
	<p><input type="password" name="password" required></p>
	<p>Email:</p>
	<p><input type="email" name="email" required></p>
	<button class="btn btn-danger" name="login"> Submit </button></a>
</form>
</div>
{% endblock %}
