{% extends 'base.twig' %}

{% block content1 %}
<div>
	<div class="container">
		<h2>TOTAL TIME: {{ results.time }}</h2>
		<h2>CORRECT ANSWERS: {{ results.correctAnswers }}</h2>
		<h2>TOTAL POINTS: {{ results.score }} points.</h2><br>
		<a class="btn btn-danger" href="{{ app.request.basepath }}/index.php/play">Start a new game</a><br><br>
	</div>
</div>
{% endblock %}