<!doctype>
<html>
	<head>
		<title>{% block title %} The Quiz game {% endblock %}</title>
		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
		<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>		
		<link rel="stylesheet" type="text/css" href="{{ app.request.basepath }}/static/css/main.css">
		<script src="{{ app.request.basepath }}/static/js/typed.js"></script>
		<script>
		  $(function(){
		      $(".element").typed({
		        strings: ["{{ message|raw }}."],
		        typeSpeed: 1
		      });
		  });
		</script>
		{% block js %}
		{% endblock %}

		<!-- Google Analytics -->
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-59391822-1', 'auto');
		  ga('send', 'pageview');

		</script>
	</head>

<body>

	<nav class="navbar navbar-inverse">
 		<div class="container-fluid">
   		 <!-- Brand and toggle get grouped for better mobile display -->
   			<div class="navbar-header">
    		</div>

    		<!-- Collect the nav links, forms, and other content for toggling -->
    		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    		{% if session.username %}
     			 <ul class="nav navbar-nav navbar-right">
     			 	 <li><a>Hello {{ session.username }} | </a></li>
     			 	 <li><a href="{{ app.request.basepath }}/index.php/admin">Admin</a></li>
       				 <li><a href="{{ app.request.basepath }}/index.php/logout">Logout</a></li>
         		 </ul>
         		 {% endif %}
  			</div><!-- /.navbar-collapse -->
 		</div><!-- /.container-fluid -->
	</nav>

	
	<div class="col-md-5 col-centered">
		<h1 style="margin-bottom: 120px"> The Quiz Master</h1>
	</div>

	<div style="margin-left: 100px; margin-right: 100px">

		<div class="col-md-3">
			<img src="{{ app.request.basepath }}/static/img/llegion.jpg" class="img-responsive">
		</div>

		<div class="col-md-4">
		<br><br>Llegion says:<br><br>
			<blockquote class="element">
			</blockquote>
		</div>
		
		<div class="col-md-5 border" style="margin-top: 30px">
		
			{% block content1 %}
			{% endblock %}
		</div>
		<div class="col-md-12" style="margin-top: 60px">
			<div class="col-md-12 border">
				{% block content2 %}
				{% endblock %}
			</div>
		</div>


	</div>
</body>
</html>
