body {
    background-color: black;
    font-family: "Courier New", Courier;
    color: white;
}

h1 {
      text-shadow: 0 0 10px #fff,
                   0 0 20px #fff,
                   0 0 30px #fff,
                   0 0 40px #ff00de,
                   0 0 70px #ff00de,
                   0 0 80px #ff00de,
                   0 0 100px #ff00de,
                   0 0 150px #ff00de;
       margin-left: auto;
       margin-right: auto;
       margin-bottom: 30px;
       font-size: 56px;
}

input{
  color:black;
}

h3{
  font-weight: bold;
  color: red;
}

blockquote{
	color: green;
}
.col-centered{
    float: none;
    margin: 0 auto;
}

.border{
	padding:2px;
	border:2px solid white;
}

.scores{
	font-size: 18px;
	color: yellow;
}
